body {
    width: 1100px;
    margin: 0 auto;
}

.container {
    text-align: center;
    display: flex;
    min-height: 400px;
    align-items: center;
    margin: 0 -25px;
}

.item {
    flex: 1 1 33.333%;
    padding: 0 25px;
}

.item__content {
    background: pink;
}

.item__title {
    /* padding: 10px 0px 0px 0px; */
    font-size: 32px;
}

.item__text {
    font-size: 20px;
    padding: 0px 0px 10px 0px;
}